# Import the Libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read the Data

In [129]:
df = pd.read_csv('melbourne.csv')

In [131]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

# Data Cleaning using Pandas Chaning Method

## Inspect the Dataset

In [132]:
(df
 ## check the first 5 rows
 #.head()
 ## renaming the column
 #.rename(columns=lambda c: c.lower().replace(" ", "_"))
 ## check the dimension, shape or data type of the data
 .info() # or .shape or .dtypes
 #.assign(JOKE=lambda df_:df_.Address.str.extract(r'(\d+\/?\d*)').fillna(0),
 #        OKAY=lambda df_:~df_.BuildingArea.isna()
 #       )
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23547 entries, 0 to 23546
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         23547 non-null  object
 1   Address        23547 non-null  object
 2   Rooms          23547 non-null  int64
 3   Type           23547 non-null  object
 4   Price          18396 non-null  float64
 5   Method         23547 non-null  object
 6   SellerG        23547 non-null  object
 7   Date           23547 non-null  object
 8   Distance       23546 non-null  float64
 9   Postcode       23546 non-null  float64
 10  Bedroom2       19066 non-null  float64
 11  Bathroom       19063 non-null  float64
 12  Car            18921 non-null  float64
 13  Landsize       17410 non-null  float64
 14  BuildingArea   10018 non-null  float64
 15  YearBuilt      11540 non-null  float64
 16  CouncilArea    15656 non-null  object
 17  Lattitude      19243 non-null  float64
 18  Longtitude     19243 non-null  float64
 19  Regionname     23546 non-null  object
 20  Propertycount  23546 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 3.8+ MB

## Missing Values

In [159]:
def remove_nth_highest_missing_value(df_, nth_missing):
    col = df_.isnull().sum().sort_values(ascending=False).head(nth_missing).index.values
    print(col)
    if len(col) > 0:
        return df_.drop(columns=col)
    else:
        return df_
    
def remove_rows_nth_nan(df_, nth_nan):
    return df_[df_.isnull().sum(axis=1)>nth_nan]

In [217]:
(df
 ## check the first 5 rows
 #.head()
 ## check the dimension, shape or data type of the data
 #.info() # or .shape or .dtypes
 ## Finding total missing values (column-wise) in descending order
 #.isnull().sum().sort_values(ascending=False)
 ## Find Total missing values (Row-wise) in descending order
 #.isnull().sum(axis=1).sort_values(ascending=False)
 ## Columns containing atleast one missing value
 #.isnull().sum() > 0 # or use any(). Note: any() operates on columns by default
 #.isnull().any() # .index or .index(df.values) = index where True was returned
 ## Displaying rows that contain atleast one missing value
 #.isnull().any(axis=1)
 #.iloc[lambda df_:df_.isnull().any(axis=1).values,:] #Here .loc works with .index not .values
 ## Displaying rows with missing value
 #.isnull().any(axis=1)
 ## Columns having all missing values
 #.isnull().all(axis=0)
 ## Rows having all missing values
 #.isnull().all(axis=1).sum()
 #.isnull().sum(axis=1)==int(len(df))
 ## Percentage of missing values (Column-wise)
 #.apply(lambda df_: round(df_.isnull().sum(axis=0)/len(df_) * 100,2)).sort_values(ascending=False)
 ## Rows with more than 5 missing values
 #.isnull().sum(axis=1) > 5
 #.apply(lambda df_:df_.isnull().sum() > 5) 
 ## Removing nth columns with the highest missing values
 #.pipe(remove_nth_highest_missing_value, 3)
 ## filtering dataframe can also be done using filter, .loc, iloc, and query
 #.loc[:,lambda df_:df_.isnull().sum() < 5] 
 ## Retaining rows with <=5 NAN values
 #.pipe(remove_rows_nth_nan, 5)
 ## Removing the rows where Price [and Landsize ]is missing [and sort by Landsize]
 #.loc[lambda df_:df_.Price.notnull()]
 #.dropna(subset=['Price', 'Landsize'])
 #.sort_values(by='Landsize', ascending=False)
 #.loc[:,['Lattitude', 'Longtitude']].sort_values(by='Lattitude')
 ## Imputing the values by Mean for Lattitude and Longitude
 #.assign(Longtitude=lambda df_:df_.Longtitude.fillna(df_['Longtitude'].mean()),
 #        Lattitude=lambda df_:df_.Lattitude.fillna(df_['Lattitude'].mean())
 #       )
 ## Grouping to further explore a feature
 .groupby('Car').Car.count().sort_values(ascending=False)
)

Car
2.0     8088
1.0     7513
0.0     1385
3.0     1045
4.0      693
5.0       87
6.0       79
8.0       14
7.0       11
10.0       3
9.0        1
11.0       1
26.0       1
Name: Car, dtype: int64

In [111]:
def print_fn(*args, **kwargs):
    print(args, kwargs)

In [112]:
print_fn(name:='Derrick', last:='Njobuenwu', full=f'{name}{last}, PhD')

('Derrick', 'Njobuenwu') {'full': 'DerrickNjobuenwu, PhD'}